  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  .app{
      align-items: center;
      width: auto;
      height: 100vh;
      background:white;
      border: 5px solid black;

  }
  .contactDiv{
    width: 20%;
      float: left;
      height: 100%
  }
  .contacts{
      border: 2px solid black;
      display: flex;
      height: 10%;
     text-overflow: nowrap;
     white-space: nowrap;
    flex-direction: column;
    color: black;
    
  }
  .userName{
    font-size: large;
    font-weight: bold;

  }
  .summary{
    font-size: medium;
  }
  .messagesDiv{
      float:right;
      width: 80%;
      height: 100%;
      background: white;
      overflow: auto;
  }
  .contactName{
    font-style: italic;
    font-weight:bold;
      background:red;
      font-size: x-large;


  }
  .submitButton{
    font-size: large;
    margin-right: 10px;

  }
  .user{
    width: 20%;
    padding: 1%;
    background: lightgreen;
    border-radius: 20px ;
    margin: 10px;

  }
  .other{
    width: 20%;
    padding: 1%;
    background: lightcoral;
    border-radius: 20px ;
    margin: 10px;
  }
  form{
    position: absolute;
    right:    30%;
    bottom:   5%;
    font-size: large;
  }
  form > input{
    background: lightgray;
    margin-left:10px;
    width: 200px;
  }
  form > button{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;

  }